* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --buttons: #4CAF50;
    --cards: #E8F5E9;
    --bg: #F1F8E9;

}

body {
    background-color: white;
}

/* ===== NAVBAR ===== */

.nav {
    padding: 15px 20px;
    position: sticky;
    top: 0;
    background: #38743b;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 31, 7, 0.26);
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2060px;
    margin: 0 auto;
}


.nav-inner a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: aliceblue;
    font-family: cursive;
    font-size: 1.2rem;
    user-select: none;

}


.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: black;
}

.menu-toogle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hero-container {
    padding: 130px;
    max-width: 2617px;
    background: var(--bg);
    color: var(--buttons);
    font-family: "poppins", cursive;
    text-align: center;

}

/* todo app */

.todo-app {
    padding: 40px 10px 10px 10px;
}

.todo {
    padding: 20px;
    background: aliceblue;
    font-family: cursive;
    min-height: 400px;
    max-height:max-content;

}

.todo img {
    width: 36px;
}

.todo h2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    font-family: "poppins", cursive;
    border-radius: 5px;
    width: 670px;
}

.row input {
    flex: 4;
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    font-family: "poppins", cursive;
}

.row button {
    flex: 1;
    font-family: "poppins", cursive;
    background-color: #2769ec;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.row button:hover{
    background-color: #6592ec;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    padding: 20px;
    width: 570px;
}

.list-container li {
    list-style: none;
    font-family: cursive;
    user-select: none;
    cursor: pointer;
    position: relative;


}

.list-container li::before {
    content: '';
    background: url(assets/todo/images/unchecked.png);
    height: 20px;
    width: 20px;
    position: absolute;
    background-size: cover;
    left: -35px;
    top: 2px;


}
.checked{
    text-decoration:line-through gray 3px ;
}

/* XS - Extra Small (Mobile styles) */
@media (max-width: 480px) {

    .hamburger {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        flex-direction: column;
        gap: 0;
        backdrop-filter: blur;
        background: rgba(43, 42, 42, 0.95);
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;

    }

    .menu li {
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .menu li a {
        text-align: center;
        display: block;
        width: 100%;
    }

    .menu-toogle:checked~.menu {
        max-height: 200px;
    }

    .menu-toogle:checked~.hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 10px);
    }

    .menu-toogle:checked~.hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toogle:checked~.hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -9px);
    }

    .logo-text {
        font-size: 20px;
    }


}

/* SM - Small (Small tablet/phone styles) */
@media (min-width: 481px) and (max-width: 767px) {
    .logo-text {
        font-size: 30px;
    }



}

/* MD - Medium (Tablet styles) */
@media (min-width: 768px) and (max-width: 1024px) {
    .logo-text {
        font-size: 40px;
    }
}

/* LG - Large (Laptop styles) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .logo-text {
        font-size: 50px;
    }
}

/* XL - Extra Large (Large desktop styles) */
@media (min-width: 1201px) and (max-width: 1440px) {
    .logo-text {
        font-size: 60px;
    }
}

/* XXL - Ultra (4K/ultra-wide styles) */
@media (min-width: 1441px) {
    .logo-text {
        font-size: 65px;
    }
}